<!-- navbar.html -->
<nav class="navbar">
    <div class="logo">LayBare</div>
    <ul class="menu">
        <li><a href="landingpage.html">Home</a></li>
        <li><a href="stores.html">Stores</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="faqs.html">FAQs</a></li>
    </ul>

    <ul class="profile-menu">
        <li>Profile</li>
    </ul>
</nav>

<style>
    .navbar{
        min-height: 70px;
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 0px 30px;
        font-weight: 700;
        font-size: larger;
        align-items: center;
        background-color: #6b420a;
        border-radius: 25px;
    }

    .navbar .menu, .navbar .profile-menu{
        display: flex;
        color: #FFF0b9;
    }

    .navbar ul{
        list-style: none;
    }

    .navbar .menu a, .navbar .profile-menu li{
        margin-right: 30px;
        text-decoration: none;
        color: #FFF0b9;
    }
</style>