/* FAQS CSS */
body {
    background-color: #f3e0dc;
    /* #c9a1a1 */
    font-family: Arial, sans-serif;
    row-gap: 50px;
    position: relative;
    margin: 0px;
}
h1 {
    color: #4a2c1f;
    font-size: 3em;
    margin: 50px;
    justify-content: center;
    display: flex;
}
.faq-container {
    flex-grow: 1;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}
.faq-item {
    background-color: #c9a1a1;
    /* #f4e9e4 */
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.faq-question {
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.faq-answer {
    padding: 15px;
    display: none;
    color: white;
}
.faq-item.active .faq-answer {
    display: block;
}

.footer-placeholder{
    width: 1000px;
    max-width: none;
    margin-top: auto;
}

/* END OF FAQS */