body {
    font-family: Arial, sans-serif;
    background-color: #f3dbd7;
    color: #4a2c1f;
    text-align: center;
    padding: 20px;
    position: relative;
}
h1 {
    font-size: 2.5em;
    color: #4a2c1f;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.store-locator-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    position: relative;
    z-index: 2;
}
.store-card {
    background-color: #d29a9a;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.store-card img {
    width: 100%;
    border-radius: 10px;
}
.store-info {
    padding: 10px;
    text-align: left;
    width: 100%;
}
.store-info h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.side-text {
    position: absolute;
    bottom: -50px;
    left: 20px;
    font-size: 8em;
    font-weight: bold;
    color: rgba(74, 44, 31, 0.2);
    white-space: nowrap;
    z-index: 1;
}
button {
    background-color:#F6ECE9;
    border:#F6ECE9;
    border-radius: 10%; 
}
.search{
    width: 200px; 
    border-radius: 5%;
    display: flex;
}