body {
    font-family: Arial, sans-serif;
    background-color: #f3dbd7;
    color: #4a2c1f;
    text-align: center;
    position: relative;
}
h1 {
    font-size: 2.5em;
    color: #4a2c1f;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.store-locator-container {
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 60%;
    margin: auto;
    position: relative;
}
.store-card {
    background-color: #F6ECE9;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.store-card img {
    width: 100%;
    border-radius: 10px;
}
.store-info {
    padding: 10px;
    text-align: left;
    width: 100%;
}
.store-info h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

button {
    background-color:#F6ECE9;
    border:#F6ECE9;
    border-radius: 10%; 
}
.search{
    width: 200px; 
    border-radius: 5%;
    display: flex;
}