/* SERVICES CSS */
body {
    background-color: #f3e0dc;
    font-family: Montserrat, sans-serif;
    color: #5a3627;
    position: relative;
    margin: 0;
    padding-top: 80px;
}

/* Heading */
h1 {
    font-size: 3em;
    color: #5a3627;
    text-align: center;
    margin: 50px 0;
}

/* Responsive grid */
.services-container {
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)); 
    gap: 18px; 
    margin: auto;
    margin-bottom: 50px;
    width: 80%; 
    max-width: 900px; 
}

/* Service cards */
.service-card {
    background-color: #c9a1a1;
    border-radius: 9px;
    padding: 12px; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 3.6px 5.4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: scale(1.05);
}

/* Images inside cards */
.service-card img {
    width: 90%; 
    max-width: 315px; 
    border-radius: 9px;
}

/* Service card title */
.service-card h2 {
    margin: 9px 0 4.5px;
    color: white;
}

/* Description */
.service-card p {
    font-size: 0.81em; 
}

/* Price and time container */
.price-time, .rating {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4.5px; 
    font-weight: bold;
}

/* END OF SERVICES CSS */
