/* SERVICES CSS */
body {
    background-color: #f3e0dc;
    font-family: Arial, sans-serif;
    color: #5a3627;
    position: relative;
    margin: 0;
}
h1 {
    font-size: 3em;
    color: #5a3627;
    justify-content: center;
    display: flex;
    margin: 50px;
}
.services-container {
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: auto;
    margin-bottom: 50px;
    width: 60%;
}

.service-card {
    background-color: #c9a1a1;
    border-radius: 10px;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.service-card img {
    width: 100%;
    border-radius: 10px;
}
.service-card h2 {
    margin: 10px 0 5px;
    color: white;
}
.service-card p {
    font-size: 0.9em;
}
.price-time {
    margin-top: 10px;
    font-weight: bold;
}

/* END OF SERVICES CSS */